
@{
    ViewBag.Title = "Doğrulama Başarılı!";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}

<h2>Doğrulama Başarılı</h2><hr />
<h4>
    NeYapsak ailesine hoşgeldin.<a href="~/Home/Index#Giris" style="color:orangered">Bu link</a> e tıklayarak giriş yapma işlemini gerçekleştirebilirsin.
</h4>

