
@{
    ViewBag.Title = "Sıfırlama Postanız Gönderildi";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}

<div class="text-center col-md-12">
    <div class="text-primary h1" style="margin-top:2%;">Neredeyse tamamlandı!</div><hr />
    <div class="h4">
        Sıfırlama işlemini tamamlaman için sana bir e-posta gönderdik.<br /><br />E-posta içindeki linke tıklayarak şifre sıfırlama aşamasına geçebilirsin.
    </div>
    <div class="h6 text-muted">
        Not:Gereksiz/Spam klasörüne bakmayı unutma.
    </div>
</div>