
@{
    ViewBag.Title = "Sıfırlama Postanız Gönderildi";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}

<h2>Neredeyse tamamlandı!</h2><hr />
<h4>Sıfırlama işlemini tamamlaman için sana bir e-posta gönderdik. Bunun içindeki linke tıklayarak şifre sıfırlama aşamasına geçebilirsin. (Not:Gereksiz/Spam klasörüne bakmayı unutma)</h4>

