
@{
    ViewBag.Title = "Doğrulama Postanız Gönderildi";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}

<h2>Neredeyse tamamlandı!</h2><hr />
<h4>Onaylaman için sana bir e-posta gönderdik. Bunun içindeki linke tıklayarak üyelik işlemini tamamlayabilirsin! Unutma, doğrulama yoksa giriş de yok..(Not:Gereksiz/Spam klasörüne bakmayı unutma)</h4>

