@model NeYapsak.PL.Models.PasswordResetRequestViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}
<div class="text-center">
    <div class="h2"  style="margin-top:2%;">Şifre Sıfırlama</div><hr />
    <div class="text-center"><p>Sistemimize kayıtlı e-posta adresini aşağıya gir. Ardından sana göndereceğimiz e-posta içindeki linke tıklayarak şifre sıfırlama işlemini gerçekleştirebilirsin</p></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    <div class="form-group col-xs-12 col-md-6 text-center">
                        <label>E-Posta Adresin</label>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = true, type = "email" } })
                        @Html.ValidationMessageFor(model => model.Email)
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input class="btn btn-dark" type="submit" id="GirisYap" value="Gönder" />
                    </div>
            }
        </div>
    </div>
</div>

