
@{
    ViewBag.Title = "PasswordResetSuccess";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}

<h2>Şifre Değişikliği Başarılı</h2><hr />
<h4>
    <a href="~/Home/Index#Giris" style="color:orangered">Bu link</a> e tıklayarak giriş yapma işlemini gerçekleştirebilirsin.
</h4>

