
@{
    ViewBag.Title = "Şifre Değişikliği Başarılı";
    Layout = "~/Views/Shared/_Layout-4-ForAccount.cshtml";
}
<div class="text-center col-md-12">
    <div class="text-success h1" style="margin-top:2%;">Şifre Değişikliği Başarılı</div><hr />
    <div class="h4">
        <a href="~/Home/Index#Giris" style="color:orangered">neyapsak</a> linkine tıklayarak giriş yapma işlemini gerçekleştirebilirsin.
    </div>
</div>

